[user]
	name = Achal Shah
	email = achals@gmail.com
[core]
    editor = emacs -nw
[alias]
    ffm = merge --ff-only
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
    lg = log -p
    who = shortlog -s --
[push]
	default = simple
