[user]
	name = Achal Shah
	email = achals@gmail.com
[branch]
	autosetuprebase = always
[core]
    editor = emacs -nw
    excludesfile = /Users/achal/.gitignore_global
[alias]
    ffm = merge --ff-only
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
    lg = log -p
    who = shortlog -s --
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(cyan)%h%C(reset) - %C(bold yellow)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"

[push]
	default = simple
[pull]
    rebase = true
    ff = only
[http "https://gopkg.in"]
	followRedirects = true
